@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");

@font-face {
  font-family: SourceSansProRegular;
  src: url(../../../public/assets/fonts/SourceSansProRegular.ttf);
}

#MedicineInIndia {
  margin-top: 12vh;
  .MedicineInIndia-div {
    border-radius: 20px;
    background: #700619;
    margin-bottom: 5%;
  }
  .MedicineInIndia-div-title {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 80px; /* 133.333% */
    letter-spacing: -2.4px;
    @media (max-width: 867px) {
      font-size: 35px;
      font-weight: 500;
      line-height: 39.576px; /* 131.92% */
      letter-spacing: -1.2px;
    }
  }
  .MedicineInIndia-title-subheading {
    color: #fff;
    text-align: center;
    font-family: SourceSansProRegular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px; /* 205% */
    letter-spacing: -0.4px;
    @media (max-width: 867px) {
      font-size: 18px;
      letter-spacing: -0.24px;
      line-height: 30px; /* 205% */
    }
  }
  .MedicineInIndia-title {
    color: #161616;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -2.4px;
    text-align: center;
    @media (max-width: 867px) {
      font-size: 35px;
    }
  }
  .MedicineInIndia-description {
    color: #383942;
    text-align: center;
    font-family: SourceSansProRegular;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px; /* 170.833% */
    letter-spacing: -0.48px;
    @media (max-width: 867px) {
      font-size: 20px;
    }
  }
}
