@tailwind base;
@tailwind components;
@tailwind utilities;

.BLS-button {
    width: 30%;
    border-radius: 8px;
    background: #5a81ee;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 4px;
    @media (max-width: 867px) {
      width: 30%;
      padding: 10px 2px;
      gap: 2px;
    }
  }
  .BLS-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border: 1px solid #5a81ee;
    @media (max-width: 867px) {
      margin: 50px 0;
    }
  }
  .BLS-content-div {
    @media (max-width: 867px) {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("./BLS/BLSdesignphone.png");
    }
  }